@mixin button($col: $teal, $bg: true) {
    @if $bg == true {
        border-color: darken($col, 10%);
        background-color: rgba($col, .2);
    }
    color: $col;

    &:hover {
        @if $bg == true {
            border-color: $col;
            background-color: rgba($col, .4);
        }
        color: lighten($col, 20%);
    }
}