$team-purple: #660066;
$team-orange: #ff6600;

$red: #ff0000;
$lred: #ff6347;
$teal: #00dfa6;
$teal-border: #00936d;
$teal-flat: #006455;
$darkcyan: #04142e;
$ddarkcyan: #001625;
$darkteal: #031f24;

$icon-encryption: "\e900";
$icon-user: "\e901";
$icon-close: "\e902";
$icon-shield: "\e903";
$icon-warning: "\e904";