$team-purple: #660066;
$team-orange: #ff6600;

$red: #ff0000;
$lred: #ff6347;
$teal: #00dfa6;
$teal-border: #00936d;
$teal-flat: #006455;

$icon-encryption: "\e900";
$icon-user: "\e901";
$icon-close: "\e902";