@import '_fonts.scss';
@import '_vars.scss';
@import '_funcs.scss';
@import '_icons.scss';
@import '_fx.scss';

html, body { 
    min-width: 1260px;
    height: 100%;
    font-family: "Open Sans";
    color: $teal;
}

a {
    color: inherit;
    text-decoration: inherit;
    transition: color .15s linear, text-shadow .15s linear, background-color .15s linear;

    &:focus {
        outline: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .75);
    opacity: 0;

    section {
        position: absolute;
        border: 1px solid $teal-flat;
        border-radius: 4px;
        background: rgba(#000, .8);
        padding: 15px 20px 15px 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

        div.icon-close {
            position: absolute;
            top: 8px;
            right: 8px;
            color: $teal;
            cursor: pointer;
            transition: color .2s linear, text-shadow .2s linear;

            &:hover {
                color: lighten($teal, 20%);
                text-shadow: $teal 0 0 1px;
            }
        }
    }
}

.button {
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    cursor: pointer;
    @include button($teal);

    transition: color .15s linear, border-color .15s linear, background-color .15s linear;
}

.input {
    display: inline-block;
    padding: 8px;
    border: 1px solid $teal-border;
    border-radius: 4px;
    color: $teal;

    &:not(.clear) {
        transition: background-color .2s ease;
        &:hover:not(:focus):not(:disabled) {
            background-color: rgba($teal, .2);
        }
        &:focus {
            background-color: rgba($teal, .3);
        }
        &:disabled {
            background-color: transparent;
        }
    }	
    background: none;
    background-image: none;
    appearance: none; -webkit-appearance: none; -moz-appearance: none;
    outline: none;
    box-shadow: none;
    resize: none;
}

.user {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 20px 8px 20px;
    border-radius: 4px;
    border: .5px solid transparent;
    cursor: pointer;
    transition: background-color .2s ease, border-color .2s ease;

    .avatar {
        height: 32px;
        width: 32px;
        border: 1px solid $teal-border;
        border-radius: 32px;
        margin-right: 10px;
    }
    
    .username {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .staff {
        margin-left: 5px;
        font-size: 18px;
    }
    
    &:hover {
        background-color: rgba($teal-flat, .4);
        border-color: $teal-border;
    }
}

.error {
    display: flex;
    align-items: center;

    .icon-warning {
        color: $lred;
        margin-right: 10px;
    }

    span.message {
        color: $lred;
        font-size: 20px;
    }
}

// #KEYFRAMES
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
    z-index: 1;
    opacity: 0;

    animation: fadeIn .8s ease .2s forwards;

    &.fail {
        .icon {
            border-color: $lred;
            span {
                color: $lred;
            }
            &:after {
                display: none;
            }
        }
        .message {
            border: 1px solid $lred;
            color: $lred;
            background-color: rgba(darken($lred, 50%), .6);      
            animation: none;

            .icon-warning {
                display: inline-block;
                margin-right: 5px;
            }
        }
        
    }
	.icon {
		position: relative;
		width: 80px;
		height: 80px;
		border: 3px solid rgba($teal-border, .6);		
		border-radius: 100px;
		background-color: rgba(#000, .5);
		text-align: center;		

		span {
			position: absolute;
			width: 100%;
			@include align-element('both', 50%);
		}

		&:after {
			content: "";
			position: absolute;
			left: -3px; top: -3px;
			padding: 40px;
			border: 3px solid transparent;
			border-top: 3px solid $teal;
			border-radius: 100px;
			animation: rotate .8s linear infinite;
    }
  }
  
  .message {
    margin-top: 14px;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;

    animation: blink 2s ease infinite;
  }
}

div#logo {
    position: relative;
    font-family: "Black Ops One";
    color: #fff;
    transition: text-shadow .15s linear, opacity .15s linear;
    > span {
        // Hack to add stroke to text as a shadow
        //                top-left          bottom-left         top-right        bottom-right        center
        text-shadow: #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 1px 1px 0, #000 0 0 5px;
    }
    span.logo-1 {
        position: relative;
        color: $teal;
    }
    span.logo-2 {
        position: absolute;
        color: $teal-border;
        // Hack to center an element horizontally
        left: 50%;
        transform: translateX(-50%);
    }
    // If the logo has the class big then make it big
    &.big {
        font-size: 64px;
        span.logo-2 {
            top: -32px;
            font-size: 128px;            
        }
    }
    // If the logo has the class small then make it small
    &.small {
        font-size: 32px;
        span.logo-2 {
            top: -16px;
            font-size: 64px;            
        }
        // When mouse is over the small logo
        &:hover {
            opacity: .6;
        }
    }
}

div#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $teal url('../images/bg.jpg') no-repeat fixed center top / cover;
    background-blend-mode: luminosity;
    
    &.team-orange { background-color: $team-orange }
    &.team-purple { background-color: $team-purple }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(ellipse at top, rgba(#000, .5), rgba(#000, .6)),
                    radial-gradient(ellipse at bottom, rgba(#000, .5), rgba(#000, .6));
    }
}

div#application {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 800px;

    header {
        order: 1;
        flex: 100px 0 0;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
        border-bottom: 1px solid $teal-border;
        background-color: rgba(#000, .6);

        .button.login {
            display: block;
            border-radius: 40px;
            font-size: 20px;
            background-color: transparent;
            border: none;
        }
    }
    
    main {
        order: 2;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; 
        margin: 10px 0 10px 0;
        padding: 10px;
    }
    
    footer {
        order: 3;
        flex: 40px 0 0;
        display: grid;
        grid-auto-columns: auto;
        align-content: center;
        padding: 0 10px 0 10px;
        border-top: 1px solid $teal-border;
        background-color: rgba(#000, .6);
    }
}

div.overlay section.login-section {
    flex: auto;
    display: flex;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        > * {
            opacity: 0;
        }

        .title {
            font-size: 24px;
            margin: 32px 0 32px 0;
        }

        .input-wrapper {
            display: flex;
            flex-flow: row nowrap;
            margin: 4px 0 4px 0;

            label {
                padding: 10px;
                border: 1px solid $teal-border;
                border-radius: 4px 0 0 4px;
                border-right: 0;                
                background: darken($teal-border, 20%);
            }
            .input {
                width: 250px;
                border-radius: 0 4px 4px 0;
                border-left: 0;
            }
        }

        .button.submit {
            padding: 6px 25px 6px 25px;
            margin-top: 20px;
        }
    }
}
