@import '_fonts.scss';
@import '_vars.scss';
@import '_funcs.scss';

html, body { 
    min-width: 1260px;
    height: 100%;
    font-family: "Open Sans";
    color: $teal;
}

a {
    color: inherit;
    text-decoration: inherit;
    transition: color .15s linear, text-shadow .15s linear, background-color .15s linear;
}

.button {
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    cursor: pointer;
    @include button($teal);

    transition: color .15s linear, border-color .15s linear, background-color .15s linear;
}

div#logo {
    position: relative;
    font-family: "Black Ops One";
    color: #fff;
    transition: text-shadow .15s linear, opacity .15s linear;
    > span {
        // Hack to add stroke to text as a shadow
        //                top-left          bottom-left         top-right        bottom-right        center
        text-shadow: #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 1px 1px 0, #000 0 0 5px;
    }
    span.logo-1 {
        position: relative;
        color: $teal;
    }
    span.logo-2 {
        position: absolute;
        color: $teal-border;
        // Hack to center an element horizontally
        left: 50%;
        transform: translateX(-50%);
    }
    // If the logo has the class big then make it big
    &.big {
        font-size: 64px;
        span.logo-2 {
            top: -34px;
            font-size: 128px;            
        }
    }
    // If the logo has the class small then make it small
    &.small {
        font-size: 32px;
        span.logo-2 {
            top: -16px;
            font-size: 64px;            
        }
        // When mouse is over the small logo
        &:hover {
            opacity: .6;
        }
    }
}

div#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $teal url('../images/bg.jpg') no-repeat fixed center top / cover;
    background-blend-mode: luminosity;
    
    &.team-orange { background-color: $team-orange }
    &.team-purple { background-color: $team-purple }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(ellipse at top, rgba(#000, .5), rgba(#000, .6)),
                    radial-gradient(ellipse at bottom, rgba(#000, .5), rgba(#000, .6));
    }
}

div#application {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 800px;

    header {
        order: 1;
        flex: 140px 0 0;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-content: center;
        padding: 0 10px 0 10px;
    }
    
    main {
        order: 2;
        flex: 1;
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
    }
    
    footer {
        order: 3;
        flex: 40px 0 0;
    }
}