@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Black+Ops+One:400");
@font-face {
  font-family: 'icodenamez';
  src: url("../fonts/icodenamez.ttf?p5vv3x") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.team-member {
  float: start;
  text-align: center;


  align-items: center;


}