main div.gameWrapper {
  flex: 1;
  display: flex;
  align-self: stretch;
}

main div.gameWrapper section.col-l {
  border: 1px solid red;
  flex: 340px 0 0;
}

main div.gameWrapper section.col-r {
  border: 1px solid green;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main div.gameWrapper section.col-r ul.board {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(5, 120px);
  align-items: center;
  grid-gap: 5px 5px;
}

main div.gameWrapper section.col-r ul.board li {
  background-color: red;
  border: 1px solid #000;
}
