@import '_vars.scss';
@import '_funcs.scss';

main {
    align-items: center;    
    div.menu {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;        
        padding: 10px 0 10px 0;

        .button {
            display: block;
            border-radius: 40px;
            font-size: 20px;

            &.continue {
                @include button($team-orange);
                margin-bottom: 40px;
            }
            &.options {
                margin-bottom: 40px;
            }
            &.admin {
                @include button($lred);
                margin-bottom: 40px;
            }
        }
    }
}

div.overlay section.login-section {
    flex: auto;
    display: flex;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        > * {
            opacity: 0;
        }

        .title {
            font-size: 24px;
            margin: 32px 0 32px 0;
        }

        .input-wrapper {
            display: flex;
            flex-flow: row nowrap;
            margin: 4px 0 4px 0;

            label {
                padding: 10px;
                border: 1px solid $teal-border;
                border-radius: 4px 0 0 4px;
                border-right: 0;                
                background: darken($teal-border, 20%);
            }
            .input {
                width: 250px;
                border-radius: 0 4px 4px 0;
                border-left: 0;
            }
        }

        .button.submit {
            padding: 6px 25px 6px 25px;
            margin-top: 20px;
        }
    }
}
