main div.avatarWrapper {
  position: relative;
  margin: 20px 0 20px 0;
}

main div.avatarWrapper .icon-shield {
  position: absolute;
  font-size: 188px;
  top: -30px;
  left: -30px;
  opacity: .6;
}

main div.avatarWrapper div.avatar {
  position: relative;
  height: 128px;
  width: 128px;
  border: 1px solid #00936d;
  border-radius: 128px;
}

main div.user-profile {
  display: flex;
  align-items: center;
}

main div.user-profile h1.username {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

main div.user-profile div.status {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 5px;
}

main div.user-profile div.status.online {
  background-color: #00dfa6;
}

main div.user-profile div.status.offline {
  background-color: #ff6347;
}

main div.stats {
  flex: 1;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
}

main div.stats [class*="-col"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div.stats [class*="-col"] ul.stats {
  align-self: stretch;
  margin: 5px;
}

main div.stats [class*="-col"] ul.stats li.row {
  display: flex;
  padding: 2px 8px 2px 8px;
  margin: 2px 0 2px 0;
  border-radius: 2px;
  background-color: rgba(3, 31, 36, 0.6);
  transition: background-color .2s ease;
}

main div.stats [class*="-col"] ul.stats li.row:hover {
  background-color: rgba(0, 100, 85, 0.4);
}

main div.stats [class*="-col"] ul.stats li.row.last-name, main div.stats [class*="-col"] ul.stats li.row.last-login, main div.stats [class*="-col"] ul.stats li.row.played {
  margin-bottom: 20px;
}

main div.stats [class*="-col"] ul.stats li.row label {
  flex: 1;
  position: relative;
  max-width: 250px;
}

main div.stats [class*="-col"] ul.stats li.row label:after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 1px;
  border-right: 1px solid #006455;
}

main div.stats [class*="-col"] ul.stats li.row span.value {
  margin-left: 5px;
}
