<!DOCTYPE html>
{% load staticfiles %}
{% load codenamez_template_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/clean.min.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script type="text/javascript">
        var csrf_token = '{{ csrf_token }}'
    </script>
    <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block head %} {% endblock %}
    <title>
        CodenameZ
        {% block title %} -- The Board Game {% endblock %}
    </title>
</head>
<body>
    <div class="background team-none"></div>
    <section class="application">
        <header>
            <a href="{% url 'index' %}">{% createLogoBySize "small" %}</a>

            <div >
            <ul class="menu-col">
                <li class="menu-bar"><a href="{% url 'about' %}">About us</a></li>
                <li class="menu-bar"> <a href="{% url 'how_to_play' %}">How to play</a></li>
                <li class="menu-bar"> <a href="{% url 'contact_us' %}">Contact us</a></li>
                <li class="menu-bar"> <a href="{% url 'faq' %}">F.a.q</a></li>
            </ul>
            </div>

            <div class="user-col">
                {% if user.is_authenticated %}
                    {% user user %}
                {% else %}
                    {% createButton "login" "Log In" href="login" %}
                {% endif %}
            </div>
        </header>
        <main>
            {% block main %} {% endblock %}
        </main>
        <footer></footer>
    </div>
    <section class="overlay hidden"></section>
    <section class="notification"></section>
</body>
</html>