<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <title>
        Rango - 
        {% block title_block %}
            How to Tango with Django!
        {% endblock %}
    </title>
</head>
<body>
    <div>
        {% block sidebar_block %}
        {% endblock %}
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>