<!DOCTYPE html>
{% load staticfiles %}
{% load codenamez_template_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script type="text/javascript">
        var csrf_token = '{{ csrf_token }}'
    </script>
    <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block head %} {% endblock %}
    <title>
        CodenameZ
        {% block title %} -- The Board Game {% endblock %}
    </title>
</head>
<body>
    <div class="background team-none"></div>
    <section class="application">
        <header>
            <a href="{% url 'index' %}">{% createLogoBySize "small" %}</a>

            <div class="menu-col">
                {% createButton "about" "About" href="about" isAnchor=True %}
                {% createButton "how-to-play" "How to play" href="how_to_play" isAnchor=True %}
                {% createButton "contact-us" "Contact Us" href="contact_us" isAnchor=True %}
                {% createButton "faq" "F.A.Q." href="faq" isAnchor=True %}
            </div>

            <div class="user-col">
                {% if user.is_authenticated %}
                    {% user user %}
                {% else %}
                    {% createButton "login" "Log In" href="login" %}
                {% endif %}
            </div>
        </header>
        <main>
            {% block main %} {% endblock %}
        </main>
    </div>
    <section class="overlay hidden"></section>
    <section class="notification"></section>
</body>
</html>