{% extends 'codenamez/base.html' %}
{% load staticfiles %}
{% load codenamez_template_tags %}

{% block head %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/infopages.css' %}">
{% endblock %}

{% block main %}
    <h1>Contact us</h1>

    <div>


    </div>
    <button class = "accordion">Developer Team</button>
    <div class = "panel">
    <ul class="team-member">
                <li class="team-member">Robert Neagu: 2318538n@student.gla.ac.uk</li>
                <li class="team-member">Zi Qin Wong: 2318997w@student.gla.ac.uk</li>
                <li class="team-member">Mingfeng Ye: 2325714y@student.gla.ac.uk</li>
                <li class="team-member">Stanimir Borisov Kostadinov: 2264064k@student.gla.ac.uk</li>
    </ul>

    </div>

    <div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.." >

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="bgn">Bulgaria</option>
      <option value="gbr">United Kingdom</option>
    </select>

    <label for="subject">Message</label>
    <textarea id="Message" name="message" placeholder="Type something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>

</div> 

    <script type="text/javascript" src="{% static 'js/info.js' %}"></script>
    
     

{% endblock %}