{% extends 'codenamez/base.html' %}
{% load staticfiles %}
{% load codenamez_template_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.min.css' %}">
    <script type="text/javascript" src="{% static 'js/game.js' %}"></script>
{% endblock %}

{% block main %}
    {% if game %}
        <div class="gameWrapper">
            <section class="col-l"></section>
            <section class="col-r">
                <ul class="board">
                    <li class="card assassin">
                        <div class="flip-card">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card orange-1">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card purple-1">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card purple-2">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card purple-2">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card purple-1">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card bystander-1">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card bystander-2">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card orange-2">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card assassin">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card assassin">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="flip-card normal">
                            <div class="front">
                                <div class="word-upside">PLACEHOLDER</div>
                                <div class="word">PLACEHOLDER</div>
                                <div class="type"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    {% else %}
        {% showError error %}
    {% endif %}
{% endblock %}