{% extends 'codenamez/base.html' %}
{% load staticfiles %}
{% load codenamez_template_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/howtoplay.min.css' %}">
    <script type="text/javascript" src="{% static 'js/howtoplay.js' %}"></script>
{% endblock %}

{% block main %}
    <h1>How to Play</h1>
    <div>
        <h2>Aim of the Game</h2>

    </div>

    <div>
        <h2>Setup</h2>
        <img src="{% static "images/boardlayout.jpg" %}" alt="Board Layout" />
    </div>

    <div>
        <h2>Rules</h2>

    </div>
{% endblock %}
