{% extends 'codenamez/base.html' %}
{% load staticfiles %}
{% load codenamez_template_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.min.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="title">{% createLogoBySize %}</div>
    <div class="menu">
        {% if user.is_authenticated %}
            {% if game %}
                <div class="game">
                    <span class="gameName">{{ game.name }}</span>
                    <span class="gameOwner">Owner: {{ game.owner }}</span>
                    <span class="gamePlayersTitle">Players ({{ game.player_count }}/{{ game.max_players }}):</span>
                    <ul class="gamePlayers">
                        {% for player in game.players %}
                            <li class="player {{ player.team }}">{{ player.user }} ({{ player.points }})</li>
                        {% endfor %}
                    </ul>
                    <span class="gameCreated">Created: {% ftime game.created %}</span>
                    <span class="gameStarted">Started: {% ftime game.started %}</span>
                </div>
                {% createButton "continue" "Continue game" href="show_game" args=game.id isAnchor=True %}
                {% createButton "leave" "Leave game" href="leave_game" args=game.id isAnchor=True %}
            {% else %}
                {% createButton "create" "Start a game" %}
                {% createButton "join" "Join a game" %}
            {% endif %}
            {% createButton "options" "Options" %}
            {% if user.is_staff %}
                {% createButton "admin" "Admin" href="/admin/" isAnchor=True %}
            {% endif %}
            {% createButton "logout" "Log Out" href="logout" %}
        {% else %}
            {% createButton "login" "Log In" href="login" %}
            {% createButton "register" "Register" href="register" %}
        {% endif %}


    </div>
{% endblock %}
